[Unit]
Description=Set custom amdgpu clocks & voltages
After=multi-user.target rc-local.service systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/amdgpu-clocks
ExecStop=/usr/local/bin/amdgpu-clocks restore
ExecReload=/usr/local/bin/amdgpu-clocks
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
